.pressDiv{
  //  position: relative;
}

.front {
   //  height: auto;
   //  width: auto;
   //  background-color: #D8D9CF;
   //  border-radius: 16px;
   //  position: absolute;
   //  align-items: center;
   //  justify-content: center;
   backface-visibility: hidden;
   // position: relative;
   // position: absolute;
   // top: 0;
 }
 .back {
    position: absolute;
   //  height: 400px;
   //  width: 250px;
   //  background-color: #FF8787;
   //  border-radius: 16px;
   //  backface-visibility: hidden;
   //  align-items: center;
   //  justify-content: center;
 }

 .backgroundImage {
   flex: 1;
   background-size: cover;
   width: 100%;
   align-items: "center";
 }
