@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    flex: 1;
    align-items: center;
    justify-content: center;
    // border: 2px solid red; //temp to see containers
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
}
